.form-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #4e73df, #1cc88a);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-card {
  background: #3a0c0c;
  padding: 30px;
  width: 100%;
  max-width: 600px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}

.form-card h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #ffffff;
  font-size:2rem
}

.form-group {
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: 600;
  margin-bottom: 6px;
}

.form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #4e73df;
  outline: none;
}

.error {
  color: #e74a3b;
  font-size: 13px;
  margin-top: 4px;
}

.skill-row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.button-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.btn-primary {
  background: #4e73df;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-primary:hover {
  background: #2e59d9;
}

.btn-secondary {
  background: #858796;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-secondary:hover {
  background: #60616f;
}

.btn-danger {
  background: #e74a3b;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-danger:hover {
  background: #c0392b;
}

.status {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}